.mainContainer{
    /* text-align: center; */
    /* justify-content: center; */
}

.header{
    flex-direction: row;
    display: flex;
    margin-top: 50px;
    margin-left: 350px;
    gap: 120px;

}


.lists{
    display: flex;
    gap: 120px;
    padding-left: 50px;
}

.head1{
    padding-left: 20px;
  
}

.why{
    width: Hug (398.1px);
    height: Hug (256px);
    gap: 16px;

}

.possible{
    width: Hug (708px);
    height: Hug (504px);
    gap: 64px;
}

.head2{
    width: Hug (1,202.1px);
    height: Hug (504px);
    left: 120px;
    gap: 96px;
    display: flex;
    justify-content: center;
    margin-top: 150px;

}

.urlAndCustomAndqrcodesAndDataAnalytics{
    padding-top: 30px;
}
.urlAndCustom{
    display: flex;
    width: Hug (708px);
    height: Hug (220px);
    gap: 28px;
}

.url{
    width: Hug (340px);
    height: Hug (220px);
    gap: 40px;

}

.custom{
    width: Hug (340px);
    height: Hug (211px);
    gap: 40px;

}

.qrcodesAndDataAnalytics{
    display: flex;
    width: Hug (708px);
    height: Hug (220px);
    gap: 28px;
    /* top: 100px; */
    padding-top: 60px;
}

.qrcodes{
    width: Hug (340px);
    height: Hug (220px);
    gap: 40px;

}

.dataAnalytics{
    width: Hug (340px);
    height: Hug (220px);
    gap: 40px;

}